.ds--badge {
    height: min-content;
    width: min-content;
    border-radius: 99px;
    
    &--solid {
        &.ds--badge--secondary {
            background: var(--color-neutral-400);
            color: var(--color-base);
        }
        &.ds--badge--primary {
            background: var(--color-primary-500);
            color: var(--color-base);
        }
    }

    &--soft {
        &.ds--badge--primary {
            background: var(--color-primary-400);
            color: var(--color-primary-600);
        }
        &.ds--badge--secondary {
            background: var(--color-neutral-300);
            color: var(--color-neutral-500);
        }
    }

    &--big {
        padding: 5px 10px;
    }
    &--small {
        padding: 3px 6px
    }
    &--default {
        padding: 4px 8px
    }
}
