.ds--button {
        display: flex;
        align-items: center;

        border: transparent;
        color: var(--color-base-button);
        cursor: pointer;
        position: relative;

        &--full {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &-loader {
            display: none;

            animation: spin 1s linear infinite;

            border: 1.5px solid var(--color-base-button);
            border-top: 1.5px solid transparent;
            border-radius: 50%;
        }

        &--loading {
            .ds--button-paragraph {
                opacity: 0;
            }

            .ds--button-loader {
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            .ds--button-icon {
                opacity: 0;
            }
        }
            

        &-icon {
            display: block;
            stroke: var(--color-base-button);
            fill: transparent;
        }

        &-paragraph {
            margin: 0;
            font-weight: 400;
        }

        &--active,
        &:active {
            transform: scale(0.95);
        }
        &--primary {
            &.ds--button--default {
                background-color: var(--color-background-primary-default)
            }

            &:hover,
            &.ds--button--hover {
                background-color: var(--color-background-primary-hover);
                transition: .3s
            }

            &:disabled,
            &.ds--button--disabled {
                background-color: var(--color-background-primary-disabled)
            }

            &.ds--button--loading {
                background-color: var(--color-background-primary-loading)
            }

            &.ds--button--active {
                background-color: var(--color-background-primary-active);
            }        
        }
        &--secondary {
            &.ds--button--default {
                background-color: var(--color-background-secondary-default)
            }

            &:hover,
            &.ds--button--hover {
                background-color: var(--color-background-secondary-hover);
                transition: .3s;
            }

            &:disabled,
            &.ds--button--disabled {
                background-color: var(--color-background-secondary-disabled)
            }

            &.ds--button--loading {
                background-color: var(--color-background-secondary-loading)
            }

            &.ds--button--active {
                background-color: var(--color-background-secondary-active);
            }
        }


        
        &--size-small {
            padding: 5px 14px;
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
            border-radius: 5px;

            & .ds--button--paragraph {
                font-size: 13px;
                line-height: 15.23px;
            }

            &.ds--button--icon-only {
                padding: 5px;

                .ds--button-icon {
                    width: 15px;
                    height: 15px;
                }

                .ds--button-loader {
                    width: 15px;
                    height: 15px;
                }
            }

            & .ds--button-loader {
                height: 13px;
                width: 13px;
            }
           

            & .ds--button-icon {
                margin-right: 4px;
                width: 13px;
                height: 13px;
            }
        }

        &--size-default {
            padding: 9px 18px;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            border-radius: 6px;

            & .ds--button--paragraph {
                font-size: 14px;
                line-height: 16.4px;
            }

            &.ds--button--icon-only {
                padding: 7px;

                .ds--button-icon {
                    width: 20px;
                    height: 20px;
                }

                .ds--button-loader {
                    width: 20px;
                    height: 20px;
                }
            }

            & .ds--button-loader {
                height: 16px;
                width: 16px;
            }

            & .ds--button-icon {
                margin-right: 5px;
                width: 16px;
                height: 16px;
            }
        }

        &--size-big {
            padding: 13px 22px;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            border-radius: 8px;

            & .ds--button--paragraph {
                font-size: 16px;
                line-height: 18.75px;
            }

            &.ds--button--icon-only {
                padding: 9px;

                .ds--button-icon {
                    width: 27px;
                    height: 27px;
                }

                .ds--button-loader {
                    width: 27px;
                    height: 27px;
                }
            }

            & .ds--button-loader {
                height: 19px;
                width: 19px;
            }

            & .ds--button-icon {
                margin-right: 7px;
                width: 19px;
                height: 19px;
            }
        }


        &--icon-only {
            .ds--button-icon {
                margin-right: 0
            }
        }
}




@keyframes spin {
    to {
        border-top-color: transparent;
        -webkit-transform: translateX(-50%) rotate(360deg);
        transform: translateX(-50%) rotate(360deg);
    }
}
    
body[data-theme='light']  {
    .ds--button {
        --color-base-button: var(--white-alpha-100);

        --color-background-primary-default: var(--color-primary-500);
        --color-background-primary-hover: var(--color-primary-600);
        --color-background-primary-disabled: var(--color-primary-400);
        --color-background-primary-loading: var(--color-primary-400);
        --color-background-primary-active: var(--color-primary-500);


        --color-background-secondary-default: var(--color-neutral-400);
        --color-background-secondary-hover: var(--color-neutral-500);
        --color-background-secondary-disabled: var(--color-neutral-300);
        --color-background-secondary-loading: var(--color-neutral-300);
        --color-background-secondary-active: var(--color-neutral-400);
    }
}

body[data-theme='dark']  {
    .ds--button {
        --color-base-button: var(--slate-800);

        --color-background-primary-default: var(--color-primary-500);
        --color-background-primary-hover: var(--color-primary-600);
        --color-background-primary-disabled: var(--color-primary-800);
        --color-background-primary-loading: var(--color-primary-800);
        --color-background-primary-active: var(--color-primary-500);


        --color-background-secondary-default: var(--color-neutral-400);
        --color-background-secondary-hover: var(--color-neutral-500);
        --color-background-secondary-disabled: var(--color-neutral-600);
        --color-background-secondary-loading: var(--color-neutral-600);
        --color-background-secondary-active: var(--color-neutral-400);
    }
}
