@import "/functions.sass"

.ds
    &--button
        display: flex
        align-items: center

        border-radius: 5px
        border: transparent
        color: var(--color-base)
        cursor: pointer

        &-loader
            display: none
            -webkit-animation: spin 1s linear infinite
            animation: spin 1s linear infinite
            border: base(.5) solid var(--color-base)
            border-top: base(.5) solid transparent
            border-radius: 50%

        &--loading
            .ds--button-loader
                display: block

        &-icon
            display: block
            stroke: var(--color-base)

        &-paragraph
            margin: base(0)
            font-size: 16px
            font-weight: 500

        &--primary
            &.ds--button--default
                background-color: var(--color-primary-500)

            &:hover,
            &.ds--button--hover
                background-color: var(--color-primary-600)
                transition: .3s

            &:disabled,
            &.ds--button--disabled
                background-color: var(--color-primary-400)

            &.ds--button--loading
                background-color: var(--color-primary-400)

            &.ds--button--active
                background-color: var(--color-primary-600)
        &--secondary
            &.ds--button--default
                background-color: var(--color-neutral-400)

            &:hover,
            &.ds--button--hover
                background-color: var(--color-neutral-500)
                transition: .3s

            &:disabled,
            &.ds--button--disabled
                background-color: var(--color-neutral-300)

            &.ds--button--loading
                background-color: var(--color-neutral-300)

            &.ds--button--active
                background-color: var(--color-neutral-500)


        &--small
            padding: base(1) base(4)
            font-size: 13px

            &.ds--button--loading
                .ds--button-paragraph
                    margin-left: base(1)

            & .ds--button-loader
                height: base(3)
                width: base(3)

            & .ds--button-icon
                margin-right: base(1)
                width: 15px
                height: 15px

        &--medium
            padding: base(2) base(5)
            font-size: 14px

            &.ds--button--loading
                .ds--button-paragraph
                    margin-left: base(2)

            & .ds--button-loader
                height: base(4)
                width: base(4)

            & .ds--button-icon
                margin-right: base(2)
                width: 20px
                height: 20px

        &--big
            padding: base(3) base(6)
            font-size: 16px

            &.ds--button--loading
                .ds--button-paragraph
                    margin-left: base(2)

            & .ds--button-loader
                height: base(5)
                width: base(5)

            & .ds--button-icon
                margin-right: base(2)
                width: 24px
                height: 24px

@keyframes spin
    to
        border-top-color: transparent
        -webkit-transform: rotate(360deg)
        transform: rotate(360deg)
    
        