.ds--logo {
  display: flex;

  &-paragraph {
    margin: 0;
    text-align: end;
    color: var(--color-base-logo);
    font-family: Tahoma;
    font-weight: 700;
  }
  &-subparagraph {
    margin: 0;
    text-align: end;
    color: var(--color-base-logo);

    font-family: Tahoma;
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
  }

  &--big {
    .ds--logo-label {
      width: 10px;
      height: 10px;
    }
    .ds--logo-paragraph {
      font-size: 33px;
      line-height: 33px;
    }
  }
  &--medium {
    .ds--logo-label {
      width: 8px;
      height: 8px;
    }
    .ds--logo-paragraph {
      font-size: 25px;
      line-height: 25px;
    }
    .ds--logo-subparagraph {
      display: none;
    }
  }
  &--small {
    .ds--logo-label {
      width: 5px;
      height: 5px;
    }
    .ds--logo-paragraph {
      font-size: 19px;
      line-height: 19px;
    }
    .ds--logo-subparagraph {
      display: none;
    }
  }



  &--amber {
    .ds--logo-label {
      background: var(--color-background-amber);
    }
  }
  &--green {
    .ds--logo-label {
      background: var(--color-background-green);
    }
  }
  &--primary {
    .ds--logo-label {
      background: var(--color-background-primary);
    }
  }
  &--red {
    .ds--logo-label {
      background: var(--color-background-red);
    }
  }

  &-box {
    margin-right: 4px;
  }
  &-label {
    border-radius: 50%;
    display: block;
    margin-top: 4px;
  }
}

body[data-theme='light']  {
  --color-base-logo: var(--color-neutral-700);

  --color-background-amber: var(--color-amber-500);
  --color-background-green: var(--color-green-400);
  --color-background-primary: var(--color-primary-700);
  --color-background-red: var(--color-red-500);
}

body[data-theme='dark']  {
  --color-base-logo: var(--color-neutral-200);

  --color-background-amber: var(--color-amber-500);
  --color-background-green: var(--color-green-400);
  --color-background-primary: var(--color-primary-700);
  --color-background-red: var(--color-red-500);
}