@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto'), local('Roboto-Regular'), url('../stories/assets/fonts/Roboto.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto'), local('Roboto-Regular'), url('../stories/assets/fonts/Roboto.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../stories/assets/fonts/Robotomedium.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../stories/assets/fonts/Robotomedium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../stories/assets/fonts/Robotobold.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../stories/assets/fonts/Robotobold.woff') format('woff');
}

@font-face {
    font-family: 'Tahoma';
    font-weight: 700;
    font-style: normal;
    src: local('Tahoma Bold'), local('Tahoma-Bold'), url('../stories/assets/fonts/Tahoma-Bold.ttf') format('ttf');
}
